body {
    align-content: center;
    text-align: center;
}
h1 {
    color: purple;
}
#container {
    width: 350px; 
    height: 450px;
    border: 10px purple solid;
    align-content: center;
    margin: 20px;
    padding: 20px;
    overflow: auto;
    background-color: #EBBAB9;
}
.todos-wrapper {
    background-color: paleturquoise;
    color: indigo;
    width: 100%;
    position: fixed;
    bottom: 20px;
}
#todos {
    background-color: #EBBAB9;
    color: indigo;
}
.add-todo-wrapper {
    background-color: palegreen;
    color: indigo;
    width: 100%;
    position.fixed;
    bottom: 10px;
}
#todoInput {
    color: indigo;
}
#addBtn {
    padding: 2px;
    background-color: darkslateblue;
    color: white;
}	
#todoDiv {
    background-color: palevioletred;
    color: white;
}
.todo {

}
.todoContent {
    background-color: violet;
    color: white;
}
.todo-delete-btn {
    padding: 2px;
    background-color: darkslateblue;
    color: white;
}

button {
    padding: 2px;
    background-color: darkslateblue;
    color: white;
}
    

