body {

}
header {

}
#container {
    width: 50%; 
    height: auto;
    border: 5px green solid;
    align-content: center;
    text-align: center;
}
#todoname {

}
#todo {

}
#todo.li {

}
#tododata {

}
#tododata.li {

}
#tasksList {

}
#allFilter {
    float: left;
}
#activeFilter {
    float: left;
}
#doneFilter {
    float: left;
}
#newtask {
    float: right;
}	
#savenew {
    float: right;
}	
footer {

}	