body {
    align-content: center;
    text-align: center;
}
header {

}
#todocontainer {
    width: 250px; 
    height: 350px;
    border: 5px purple solid;
    align-content: center;
    margin: 20px;
    padding: 20px;
}
#taskcontainer {
    min-width: 200px;
    min-height: 300px;
}
#todoname {

}
#todo {

}
#todo.li {

}
#tododata {
    padding: 5px;
    margin: 5px;
}
#tasksList {
    padding: 2px;
}
#allFilter {
    float: left;
    padding: 2px;
}
#activeFilter {
    float: left;
    padding: 2px;
}
#doneFilter {
    float: left;
    padding: 2px;
}
#newtask {
    float: left;
    padding: 2px;
}	
#savenew {
    float: left;
    padding: 2px;
}	