#squareOne {
    margin: 100px; 
    width: 100px;
    height:100px;
    background: #d16;
}
#squareTwo {
    margin: 100px; 
    width: 100px;
    height:100px;
    background: #d16;
}
#squareThree {
    margin: 100px;
    width: 100px;
    height: 100px;
    background: #cc0;
    animation: spin 4s linear infinite;
}
@keyframes spin {from {transform:rotate(0deg);} to {transform:rotate(3600deg);}}